<div class="banner-wrapper">
  <div class="banner">
    <div ui-sref="login" class="banner-content-wrapper">
      <div class="banner-content">
        <span class="banner-header hop-font">
          Humans of Panda
        </span>
        <span class="banner-tagline">
          Where the Inn-keepers mix and mingle.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="about-wrapper">
  <div class="about-content">
    <h1>Connect.</h1>
    <h1>Mingle.</h1>
    <h1>Share.</h1>
    <h1>This is Panda Family.</h1>
  </div>
</div>
