<div class="banner-wrapper">
  <div class="banner">
    <div class="banner-content-wrapper">
      <div class="banner-content">
        <span class="banner-header hop-font">
          Humans of Panda
        </span>
        <span class="banner-tagline">
          Where the Inn-keepers mix and mingle.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="about-wrapper">
  <div class="about-content">
    <h2>Mingle.</h2>
    <p>
      Got something on your mind? Why not share it with the family?
    </p>
  </div>
</div>
