<div layout="row" class="home-container">

  <div flex="30" class="user-col">
    <h2 class="hop-font">My Info: </h2>

    <md-card class="user-info">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Roger Kint</span>
          <span class="md-subhead">@verbalkint</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
          <p>
            <span>Location: San Pedro</span>
          </p>
          <p>
            <span>Position: Sales</span>
          </p>
          <p>
            <span>Since: 1995</span>
          </p>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>My Profile</md-button>
        <md-button>Panda Friends</md-button>
      </md-card-actions>
    </md-card>

  </div>




  <div flex="70" class="posts-col">
    <h1 class="hop-font">Say Something!</h1>

    <md-card class="new-post">
      <md-card-content>
        <h2>Make a new post!</h2>
        <form placeholder="Tell your story!"></form>
        <textarea class="textbox" rows="8"></textarea>
      </md-card-content>
      <md-card-footer>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Post it!</md-button>
        </div>
      </md-card-footer>
    </md-card>


    <h1 class="hop-font">Latest Posts:</h1>

    <md-card class="posts" ng-repeat="post in vm.posts">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">By: {{ post.author }}</span>
          <p>{{ post.body }}</p>
        </md-card-title-text>
      </md-card-title>
      <md-card-footer>
        <md-card-actions layout="row" layout-align="end center">
          <span>Posted on {{ post.createdAt | date:'MM/dd/yyyy @ h:mma' }}</span>
          <md-button>Like</md-button>
          <md-button>View</md-button>
        </md-card-actions>
        <h3>Comments:</h3>
      </md-card-footer>
        <md-card ng-repeat="comment in post.comments">
          <md-content layout-padding layout-wrap>
            <h3>{{ comment.author; }}</h3>
            <p>{{ comment.body }}</p>
            <span>Posted on {{ post.createdAt | date:'MM/dd/yyyy @ h:mma' }}</span>
          </md-content>
          <md-card-footer>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Like</md-button>
            </md-card-actions>
          </md-card-footer>
        </md-card>
    </md-card>


  </div>


</div>
