<div class="banner-wrapper">
  <div class="banner">
    <div class="banner-content-wrapper">
      <div class="banner-content">
        <span class="banner-header hop-font">
          Be a part of the family.
        </span>
        <span class="banner-tagline">
          <form class="signup-form" ng-submit="vm.submitSignUp();">
            <div>
              <input type="display_name" placeholder="Display Name" ng-model="vm.signUp.display_name">
            </div>
            <div class="">
              <input type="email" placeholder="Email" ng-model="vm.signUp.email">
            </div>
            <div class="">
              <input type="password" placeholder="Password" ng-model="vm.signUp.password">
            </div>
            <div>
              <input type="password" placeholder="Confirm Password" ng-model="vm.signUp.passwordConfirmation">
            </div>
            <md-button type="submit">Submit</md-button>
          </form>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="about-wrapper">
  <div class="about-content">
    <h1>Connect.</h1>
    <h1>Mingle.</h1>
    <h1>Share.</h1>
    <h1>This is Panda Family.</h1>
  </div>
</div>
